header ul li{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 48px;
    border-bottom: 2px solid;
}
header ul li a{
    padding-top: 0;
    padding-bottom: 0;
    font-size: 35px;
}
#logo{
    padding-left: 20%;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 97%;
}
nav h1{
    font-size: 60px;
    margin-bottom: 0;
}  
article h5{
    font-size: 28px;
    margin-bottom: 13;
    margin-top: 0;
  }
label,input,select{
    width: 100%;
}
input, select,button{
  margin-top: 0px;   
}
input,select{
    margin-bottom: 10px;
    height: 40px;
}
button{
    height: 40;
}
article{
    font-size: 22px
}

form {

    width: 100%;
     margin: auto;
     background: rgba(212, 145, 106, 0.4);
     padding: 10px 10px;
     box-sizing: border-box;
  }
  
  input{
 
    width: 100%;
    margin-bottom: 12px
  }